* {
     /* background-color: #D6DDED; */
     margin: 0;
     padding: 0;
}

main {
     background-color: #edeef1;
}

.raleway {
     font-family: "Raleway";
}

.inter {
     font-family: "Inter";

}

.btn-primary {
     background-color: #4E47FF;
     width: 132px;
     height: 48px;
     gap: 10px;
     color: white;
     border: none;
     border-radius: 10px;
     font-size: 16px;
     font-weight: bold;
}

.btn-primary1 {
     background-color: #4E47FF;
     width: 174px;
     height: 48px;
     gap: 10px;
     color: white;
     border: none;
     border-radius: 10px;
     font-size: 16px;
     font-weight: bold;
}

.btn-primary2 {
     background-color: #4E47FF;
     width: 229px;
     height: 48px;
     gap: 10px;
     color: white;
     border: none;
     border-radius: 10px;
     font-size: 16px;
     font-weight: bold;
}

.btn-primary3 {
     background-color: #4E47FF;
     width: 195px;
     height: 48px;
     gap: 10px;
     color: white;
     border: none;
     border-radius: 10px;
     font-size: 16px;
     font-weight: bold;
     margin-bottom: 20px;
}

.btn-primary4 {
     width: 100%;
     height: 62px;
     background-color: #4E47FF;
     gap: 10px;
     color: white;
     border: none;
     border-radius: 10px;
     font-size: 16px;
     font-weight: bold;
     margin-bottom: 20px;
}

header {
     background-image: url("./Assets/Hero-bg.png");
     min-width: 1440px;
     min-height: 698px;

}

.nav-section {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 1140px;
     height: 150px;
     margin: 0 auto;
}

.logo {
     text-transform: uppercase;
     font-size: 34px;
     color: #4E47FF;
}

.nav-container {
     width: 905px;
     height: 237px;
     margin: 0px auto;
     margin-top: 200px;
     text-align: center;

}

.nav-title {
     font-size: 65px;
     font-weight: bold;
     margin-bottom: 37px;
}

.banner-section {
     /* border: 2px solid tomato; */
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 1140px;
     height: 328px;
     margin: 0 auto;
     margin-bottom: 150px;
     padding-top: 150px;
}

.banner-title {
     font-size: 35px;
     font-weight: bold;
}

.banner-descripiton {
     font-size: 24px;
     margin: 23px 0px;
     color: #252432;
}

.banner-img {
     width: 403px;
     height: 328px;

}

.banner-img img {
     border-radius: 10%;
}

.user-section {
     border: 2px solid #E6E5FF;
     background-color: #E6E5FF;
     box-sizing: border-box;
     border-radius: 15px;
     width: 1140px;
     height: 306px;
     margin: 0px auto;
}

.user-title {
     font-size: 36px;
     text-align: center;
     margin-top: 50px;
     color: #252432;
}

.user-container {
     display: flex;
     justify-content: space-around;
     margin-top: 40px;
     margin-bottom: 50px;
}

.user-container h1 {
     font-size: 80px;
     font-weight: bold;
     color: #4E47FF;


}

.user-container p {
     font-size: 20px;
     color: #000000;

}

.section-container {
     /* border: 2px solid tomato; */
     width: 1140px;
     height: 342px;
     margin: 0px auto;
     margin-top: 150px;
}

.section-container h1 {
     font-size: 42px;
     font-weight: bold;
     color: #252432;
     text-align: center;
     margin-bottom: 50px;
}

.section-container h3 {
     font-size: 24px;
     margin-bottom: 10px;
}

.star-icon {
     font-size: 24px;
     color: #FFB805;
     margin-bottom: 24px
}

.card-section {
     margin-right: 20px;
     border-radius: 10px;
     padding: 24px;
     width: 300px;
     height: 200px;
     background-color: #FFFFFF80;
}

.profile-container {

     margin-top: 24px;
     display: flex;
     gap: 10px;
}

.profile img {
     border-radius: 50%;
}

.all-card {
     display: flex;
     justify-content: space-around;
}

.banner-container {
     border: 2px solid white;
     background-color: #ffff;
     border-radius: 15px;
     width: 1140px;
     height: 696.77px;
     margin: 0 auto;
     margin-top: 150px;
     text-align: center;
}

.banner-container h1 {
     margin-top: 70px;
     font-size: 50px;
     font-weight: bold;
     text-align: center;
}

.banner-container p {
     color: #00000080;
     font-size: 16px;
     font-weight: bold;
     text-align: center;
     margin-top: 20px;
     margin-bottom: 20px;
}

.banner-container img {
     width: 840px;
     height: 365px;
     border-radius: 50px;
}

.form-section {
     display: flex;
     width: 1140px;
     height: 632px;
     margin: 0 auto;
     padding: 70px 0px;
     justify-content: center;
     align-items: center;
}

.form-section h1 {
     font-size: 97px;
     font-weight: bold;
     color: #000000;
}

.form {
     display: flex;
     display: block;
     justify-content: space-around;

}

.form label {
     font-size: 18px;
     color: #000000;

}

.input {
     font-size: 20px;
     margin-top: 10px;
     margin-bottom: 10px;
     width: 497px;
     height: 50px;
     padding: 20px 32px;
     border-radius: 10px;
     border-color: #adaaaa80;
}

.textarea {
     font-size: 20px;
     margin-bottom: 10px;
     margin-top: 10px;
     width: 497px;
     height: 135px;
     padding: 20px 32px;
     border-radius: 10px;
}

